/* selector de etiqueta */

body{
    font-family: 'Source Sans Pro', Helvetica, sans-serif
}

h1,
h2,h3,h4,h5,h6{
    font-family: 'Fjalla One', sans-serif;
}
/* selector descendente  */
/* body header div nav ol li a {} */

/* selector de clase*/
/* .link {
    background-color: blueviolet;
} */


/* selector  de  id*/
/* #id1{} */

